{% extends "base.html" %}


{% block content %}
    <h1>{{ obj.title }}</h1>
    <small>{{ obj.created_at }}</small>
    {% if obj.author != request.user %}
        <small>{{ obj.author.email }}</small>
    {% endif %}
    <p>{{ obj.content }}</p>

    <hr>
    {% if obj.author == request.user %}
        <h3>
            <a href="{% url 'posts:edit' pk=obj.pk %}">
                Редактировать
            </a>
            <a href="{% url 'posts:delete' pk=obj.pk %}" style="color: red;">
                Удалить
            </a>
        </h3>
    {% endif %}

    {% if request.user != obj.author %}
        {% if obj.marks.all.count == 0 %}
            <form method="post">
                {% csrf_token %}
                {{ mark_form.as_p }}
                <input type="submit" class="btn btn-primary" name='form2'>
            </form>
        {% else %}
            <h2>Ваша оценка: <strong>{{ obj.marks.all.first.mark }}</strong></h2>
            <hr>
        {% endif %}
    {% endif %}

    <h4>Комментарии</h4>
    <ul>
        {% for comment in obj.comments.all %}
            <li>{{ comment.content }} via {{ comment.sender.email }} at {{ comment.created_at }}</li>
        {% endfor %}
    </ul>
    {% if form and request.user != obj.author %}
        <form id="comment_form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" name='form1'>
        </form>
    {% elif request.user == obj.author %}
        <div>

        </div>
    {% else %}
        <div>
            Только авторизованные пользователи могут оставлять комментарии.<br/>
        </div>
    {% endif %}
{% endblock %}

{% block script %}

    <script type="text/javascript">
        $(function () {
            $(".inline.{{ comment_form.prefix }}").formset({
                prefix: "{{ comment_form.prefix }}",
            })
            $(".inline.{{ mark_form.prefix }}").formset({
                prefix: "{{ mark_form.prefix }}",
            })
        })
    </script>
{% endblock %}