{% extends "base.html" %}

{% block content %}
    <h1>Все публикации пользователей</h1>
    {% for obj in object_list %}
        <div style="display: flex; flex-flow: column wrap; justify-content: space-between; align-items: left">
            <h3>{{ obj.title }}</h3>
            {% if request.user.username != obj.author.username %}
                <h4>{{ obj.author.username }}</h4>
            {% endif %}
            <small>{{ obj.created_at }}</small>
            <p>{{ obj.summary }}</p>
        </div>
    {% endfor %}
{% endblock %}