{% extends "base.html" %}


{% block content %}
    <h1>{{ obj.title }}</h1>
    <small>{{ obj.created_at }}</small>
    <small>{{ obj.user.username }}</small>
    <p>
    <p>{{ obj.content }}</p>
    </p>
    {% if obj.author == request.user %}
        <h3>
            <a href="{% url 'posts:edit' pk=obj.pk %}">
                Редактировать
            </a>
            <a href="{% url 'posts:delete' pk=obj.pk %}" style="color: red;">
                Удалить
            </a>
        </h3>
    {% endif %}
    <h2>Комментарии</h2>
    <ul>
        {% for comment in obj.comments.all %}
            <li>{{ comment.content }} via {{ comment.sender.email }} at {{ comment.created_at }}</li>
        {% endfor %}
    </ul>
    {% if form and request.user != obj.author %}
        <form id="comment_form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary">
        </form>
    {% elif request.user == obj.author %}
        <div>

        </div>
    {% else %}
        <div>
            Только авторизованные пользователи могут оставлять комментарии.<br/>
        </div>
    {% endif %}
{% endblock %}