{% extends "base.html" %}

{% block content %}
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
        {% if request.user.is_superuser %}
            <h2>Запросы пользователей</h2>
        {% else %}
            <h2>Мои запросы администратору</h2>
            <a href="{% url 'tickets:create-ticket' %}">Написать запрос</a>
        {% endif %}
    </div>
    {% for obj in object_list %}
        <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center">

            <h3>
                <a href="{% url 'tickets:ticket' pk=obj.pk %} ">Ticket №{{ obj.pk }}</a>
            </h3>
            <h3>{{ obj.created_at }}</h3>
            <h3>To {{ obj.admin.email }}</h3>
        </div>
    {% endfor %}
{% endblock content %}