{% extends "base.html" %}

{% block content %}
    {% if obj.first_name and obj.last_name %}
        <h1>{{ obj.first_name }} {{ obj.last_name }}</h1>
    {% endif %}
    <h1>{{ obj.email }}</h1>
    {% if obj.avatar %}
        <img src="{{ obj.avatar.url }}">
    {% endif %}
    {% if obj.skype %}
        <h2>Skype: {{ obj.skype }}</h2>
    {% elif obj.telephone %}
        <h2>Tel: {{ obj.telephone }}</h2>
    {% endif %}
    <h2>Email: {{ obj.email }}</h2>
    <h2>
        {% if obj == request.user %}
            <a href="{% url 'posts:my-posts' %}">
                Мои публикации
            </a>
        {% else %}
            <a href="{% url 'posts:posts-by-pk' pk=obj.pk %}">
                Все публикации пользователя
            </a>
        {% endif %}
    </h2>
    {% if obj == request.user %}
        <h2>
            <a href="{% url 'users:edit' pk=obj.pk %}">Редактировать профиль</a>
        </h2>
    {% endif %}
{% endblock %}